<td><%= gauge_log.date.to_fs %></td>
<td><%= gauge_log.value %></td>
<td>
  <%= "Approved by #{gauge_log.approved_by.name}" if gauge_log.approved? %>
  <%= render partial: "approve_button", locals: { log_id: gauge_log.id } unless gauge_log.approved? %>
</td>