<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<h1>Gauges</h1>
<%= render partial: "gauge", collection: @gauges %>
<%= link_to "New Gauge", controller: 'gauges', action: 'new' unless current_user.profile.is_manager %>